/* Estilos básicos */
html {
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App general */
.App {
    text-align: center;
    padding: 20px;
}

/* Modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    box-sizing: border-box;
}

form input[type="date"],
form input[type="tel"],
form input[type="email"] {
    font-size: 1.4rem;
}

form button {
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #444;
}

/* Contenedor de todos los registros */
.todoComponents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    padding: 10px;
}

/* Elementos individuales */
.todo {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.3333% - 20px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.todo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.todo p {
    font-size: 1.6rem;
    margin: 5px 0;
}

/* Título y botones */
h1 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 20px;
}

button.button {
    background-color: black;
    color: white;
    font-size: 1.6rem;
    padding: 12px 20px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
}

button.button:hover {
    background-color: #444;
}

/* Estilos para los contenedores de los registros */
.todoInfo {
    display: flex;
    align-items: center;
}

.todoInfo div {
    font-size: 1.4rem;
    color: #333;
    margin-left: 10px;
}

/* Asegurarse de que las imágenes en los registros estén centradas y tengan un tamaño adecuado */
.todo img {
    border-radius: 50%;
}

/* Estilos adicionales */
.todoInfo p {
    font-size: 1.4rem;
    color: #555;
}

button.buttonCreate {
    background-color: black;
    color: white;
    font-size: 1.6rem;
    padding: 15px 30px;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button.buttonCreate:hover {
    background-color: #444;
}
